*{
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: -1px;
    outline: none !important;
}

.bg-light{
    background-color: #f2f2f2 !important;
}

.rounded{
    overflow: hidden;
    border-radius: 0.8em !important;
}

.fixed-header{
    overflow-y: auto;
    height: 400px;
}

.fixed-header thead th {
    position: sticky !important;
    background-color: #fff;
    border-bottom: 1px #333 solid;
    top: -2px;
}